:root {
    --cool-gray: #151515/*#4E4F50*/;
    --gray:#1f1f1f;
    --white: #F6F6F6/*#fff*/;
    --my-font: 'Noto Serif', serif;
}
html{
    scroll-behavior:smooth;
}
html, body {
    background-color: var(--white);
    padding: 0%;
    margin: 0%;
    font-family: var(--my-font);
}

#welcome-section {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 92vh;
    background-color: var(--cool-gray);
    color: white;
    text-align: center;
    margin-top:50px;
    animation-name: switch-bg-color;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes switch-bg-color {
    0% {
        background-color: var(--cool-gray);
    }

    50% {
        background-color: var(--cool-gray);
    }
    100% {
        background-color: var(--gray);
    }
}

#welcome-section p {
    font-size: 25px;
    letter-spacing: 6px;
}
#welcome-section #job-title{
    color: var(--cool-gray);
    background-color: var(--white);
    letter-spacing: 5px;
    display: inline-block;
    padding-right: 5px; padding-left: 5px;
}

@media screen and (max-width: 600px) {    
    #welcome-section {
        padding-top: 10px;
    }
    #welcome-section p {
        font-size: 22px;
        letter-spacing: 5px;
    }
}

@media screen and (max-width: 400px) {
    #welcome-section {
        margin-top: 40px;
    }
    #welcome-section h1 {
        font-size: 27px;
        letter-spacing: 3px;
    }
    #welcome-section p {
        font-size: 20px;
        letter-spacing: 4px;
    }
}
@media screen and (max-width: 300px) {
    #welcome-section #job-title{
        padding-top: 0px; padding-bottom: 0px;      
    }
    #welcome-section #job-title p{
        margin-top: 4px; margin-bottom: 4px;      
    }
}
    
@media screen and (max-width: 230px) {
    #welcome-section h1 {
        font-size: 20px;
        letter-spacing: 3px;
    }
    #welcome-section p {
        font-size: 18px;
    }
}

#welcome-section #introduction {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3%;margin-top: 3%;
}
#welcome-section #introduction a{
    font-weight: bold;
    text-decoration: underline;
    color:var(--white);
}
#welcome-section #introduction img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-bottom: 2%;
    margin-top: 2%;
    border: 2px solid var(--white);
    animation-name: roll-forward;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@keyframes roll-forward {
from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@media screen and (max-width: 1000px) {    
    #welcome-section #introduction img {
        height: 165px;
        width: 165px;
    }
}

@media screen and (max-width: 800px) {    
    #welcome-section #introduction img {
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 600px) {    
    #welcome-section #introduction img {
        height: 135px;
        width: 135px;
    }    
}

@media screen and (max-width: 400px) {
    #welcome-section #introduction img {
        height: 115px;
        width: 115px;
    }
}

#welcome-section #introduction p {
    text-align: center;
    font-size: 20px;
    color: var(--white);
    word-spacing: 4px;
    letter-spacing: 2px;
}

@media screen and (max-width: 850px) {
    #welcome-section #introduction p {
        font-size: 18px;
    }
}

@media screen and (max-width: 650px) {
    #welcome-section #introduction p {
        font-size: 16px;
        word-spacing: 3px;
    }
}

@media screen and (max-width: 450px) {
    #welcome-section #introduction p {
        font-size: 15px;
        word-spacing: 3px;
    }
}

@media screen and (max-width: 300px) {
    #welcome-section #introduction p {
        font-size: 13px;
        word-spacing: 3px;
    }
}

#welcome-section #introduction .fa {
    font-size: 17px;
}

#welcome-section #introduction .fa-heart {
    color: crimson;
}

#welcome-section #first-social-media-profiles-links-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#welcome-section #first-social-media-profiles-links-container a {
    margin: 5px;
    width: 70px;
    height: 70px;        
    line-height: 70px;       
    font-size: 49px;        
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid var(--white);
    background-color: var(--cool-gray);
    color: var(--white);
    transition-duration: 0.5s;
    animation-name: switch-bg-color;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#welcome-section #first-social-media-profiles-links-container a:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    #welcome-section #first-social-media-profiles-links-container a {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 42px;
    }
}

@media screen and (max-width: 600px) {
    #welcome-section #first-social-media-profiles-links-container a {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 33px;
    }
}

@media screen and (max-width: 400px) {
    #welcome-section #first-social-media-profiles-links-container a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 25px;
    }
}


#my-technologies {
    color: var(--cool-gray);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 7%;
    width: 80%; margin-left: auto; margin-right:auto;
}

.title {
    width: 100%;
    text-align: center;
    color: var(--cool-gray);
    letter-spacing: 10px;
    font-size: 50px;
}
.title p{
    display:inline-block;
    padding: 5px;
    padding-left: 18px;
    width: fit-content;
    border-left:3px solid var(--cool-gray);
    border-bottom:3px solid var(--cool-gray);
}

#my-technologies div {
    margin: 20px;
}

#my-technologies div i {
    font-size: 80px;
}

#my-technologies div p {
    font-size: 23px;
}

#my-technologies div * {
    transition-duration: 0.5s;
}

#my-technologies div:hover * {
    transition-duration: 0.5s;
    color: var(--cool-gray);
}

@media screen and (max-width: 900px) {
    .title {
        letter-spacing: 3px;
        font-size: 40px;
    }
    #my-technologies div {
        margin: 18px;
    }
    #my-technologies div i {
        font-size: 70px;
    }
    #my-technologies div p {
        font-size: 19px;
    }
}

@media screen and (max-width: 600px) {
    #my-technologies {
        width: 95%; margin-left: auto; margin-right:auto;
    }
    #my-technologies div{
        margin: 15px;
    }
    .title {
        letter-spacing: 3px;
        font-size: 30px;
    }
    #my-technologies div i {
        font-size: 60px;
    }
    #my-technologies div p {
        font-size: 17px;
    }
}


@media screen and (max-width: 400px) {
    #my-technologies {
        width: 98%; margin-left: auto; margin-right:auto;
    }
    #my-technologies div {
        margin: 12px;
    }
    #my-technologies div i {
        font-size: 50px;
    }
    #my-technologies div p {
        font-size: 12px;
    }
}

@media screen and (max-width: 200px) {
    .title {
        letter-spacing: 3px;
        font-size: 22px;
    }
    #my-technologies div i {
        font-size: 50px;
    }
    #my-technologies div p {
        font-size: 10px;
        margin: 5px;
    }
}

#projects {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



.secondary-project{
    display: none;;
}
.project-tile {
    width: 320px;
    max-height: 480px;
    min-height: 480px;
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 3%;
    text-decoration: none;
    border: 1px solid #aaa;
    padding-top: 0%;
    background-color: #fff;;
}

@media screen and (max-width: 400px) {
    /*add margintop and bottom to project tiles when it is a mobile and projects are one above another*/
    .project-tile {
        margin-top: 40px;
        margin-bottom: 40px;
        max-height: 390px;
        min-height: 390px;
    }
}

.project-tile:hover {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px var(--cool-gray);
}

.project-tile .project-name-container {
    width: 100%;
    margin: 0%;
    text-align: center;
    height: 10%;
    color: var(--cool-gray);
    background-color: #fff;
    font-size: 1.1em;
    /*22px*/
    ;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-duration: 0.6s;
}
@media screen and (max-width: 400px) {
    .project-tile .project-name-container {
        font-size: 16px;
        letter-spacing:auto;
    }
}

.project-tile .project-picture {
    width: 100%;
    max-height: 79%;
    min-height: 79%;
    height: 79%;
    margin: 0%;
    padding: 0%;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    transition-duration: 0.6s;
}


.project-tile .project-picture img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    margin: 0%;
}

.project-tile .technologies-in-project-container {
    height: 10%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: var(--cool-gray);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    transition-duration: 0.6s;
}
@media screen and (max-width: 400px) {
    .project-tile .technologies-in-project-container {
        flex-wrap: nowrap;;
    }
}

.project-tile .technologies-in-project-container .technologies-in-project {
    height: 100%;
    max-height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.project-tile .technologies-in-project-container .technologies-in-project p {
    /*center p tags vertically inside its parent*/
    align-self: center;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;    
}

.project-tile .technologies-in-project-container .project-type {
    height: 100%;
    max-height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

.project-tile .technologies-in-project-container .project-type p {
    /*center p tags vertically inside its parent*/
    align-self: center;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;  
}
@media screen and (max-width: 300px) {
    .project-tile .technologies-in-project-container .technologies-in-project p {
        font-size: 12px;
    }
    .project-tile .technologies-in-project-container .project-type p {
        font-size: 12px;
    }
}
@media screen and (max-width: 250px) {
    .project-tile .technologies-in-project-container .technologies-in-project p {
        font-size: 11px;
    }
    .project-tile .technologies-in-project-container .project-type p {
        font-size: 11px;
    }
}
@media screen and (max-width: 200px) {
    .project-tile .technologies-in-project-container .technologies-in-project p {
        font-size: 10px;
    }
    .project-tile .technologies-in-project-container .project-type p {
        font-size: 10px;
    }
}

.project-tile .project-description-and-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition-duration: 0.5s;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0;
    position: absolute;
    padding: 15px;
    padding-top: 100px;;
    color: var(--cool-gray);
    font-family: var(--my-font);
}
@media screen and (max-width: 400px) {
    .project-tile .project-description-and-buttons-container{
        max-height: 385px;
        min-height: 385px;
    }
}

.project-tile .project-description-and-buttons-container a {
    border: 2px solid var(--cool-gray);
    padding: 8px;
    text-decoration: none;
    color: var(--cool-gray);
}

.project-tile .project-description-and-buttons-container .project-description-container {
    margin-top: 10px;
}

.project-tile .project-description-and-buttons-container .project-description-container p {
    font-size: 15px;
    word-spacing:3px;
}

.project-tile:hover .project-description-and-buttons-container {
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    opacity: 1;
    z-index: 2;
}

.project-tile:hover .project-name-container {
    transition-duration: 0.4s;
    opacity: 0.1;
}

.project-tile:hover .project-picture {
    transition-duration: 0.4s;
    opacity: 0.1;
}

.project-tile:hover .technologies-in-project-container {
    transition-duration: 0.4s;
    opacity: 0.1;
}

#projects #btn-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#projects #btn-container #load-more-btn {
    padding: 10px;
    color: var(--white);
    background-color: var(--cool-gray);
    border: 1px solid var(--cool-gray);
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
    width: 150px;
}

@media screen and (max-width: 600px) {
    #projects #btn-container #load-more-btn {
        padding: 9px;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    #projects #btn-container #load-more-btn {
        padding: 9px;
        font-size: 16px;
    }
}

@media screen and (max-width: 250px) {
    #projects #btn-container #load-more-btn {
        padding: 7px;
        font-size: 14px;
    }
}

#projects #btn-container #load-more-btn:hover {
    background-color: var(--white);
    color: var(--cool-gray);
    transition-duration: 0.5s;
}

#navbar {
    background-color: var(--cool-gray);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;/*
    box-shadow: 0px 5px 10px var(--gray);*/
    z-index:11;
}

#navbar .menu-buttons-container {
    /*this is default css for navbar links: displayed in big screens - not displayed in small screens*/
    display: flex;
    background-color: var(--cool-gray);
    color: var(--white);
}

#navbar .menu-buttons-container-shown {
    /*this is css of navbar links in small screens when user click on burger bar icon to display the menu then if user increase screen width
    it will stay displayed*/
    display: flex;
    background-color: var(--cool-gray);
    color: var(--white);
}

#navbar .aclass {
    color: var(--white);
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    letter-spacing: 3px;;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    transition-duration: 0.5s;
}

#navbar a:hover {
    transition-duration: 0.5s;
    background-color: var(--white);
    color: var(--cool-gray);
}

#navbar a:active {
    background-color: var(--white);
    color: var(--cool-gray);
}

#navbar i {
    display: none;
}

@media screen and (max-width: 800px) {
    #navbar .aclass {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    #navbar .aclass {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    #navbar .menu-buttons-container {
        display: none;
    }
    #navbar .menu-buttons-container-shown {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        background-color: var(--cool-gray);
        color: var(--white);
        position: absolute;
        width: 100%;
        top: -1000%;
        /* notice that the menu is displayed but is far away in the top */
        z-index: 10;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        /* this last property will make the menu take the css of the final state of the animation, 
        which is whether top:0% or top: -1000% depending on which animation it's having 
        which is decided by js methods showMenu() & hideMenu() */

    }
    
    #navbar i {
        display: block;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        font-size: 18px;
        margin: 12px;
        z-index: 10;
        border-radius: 2px;
        padding: 3px;
    }
    @keyframes move-menu-down {
        from {
            top: -1000%;
            }
            to {
                top: 0%;
            }
        }
        @keyframes move-menu-up {
            from {
                top: 0%;
                }
                to {
        top: -1000%;
                }
            }
}

#contacts {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}



#contacts .contacts-text {
    font-size: 20px;
    color: var(--cool-gray);
    letter-spacing: 2px;
}

@media screen and (max-width: 600px) {
    #contacts .contacts-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    #contacts .contacts-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 300px) {
    #contacts .contacts-text {
        font-size: 14px;
    }
    #contacts p strong {
        word-break: break-all;
    }
}

@media screen and (max-width: 200px) {
    #contacts .contacts-text {
        font-size: 12px;
    }
}

#contacts p strong {
    color: var(--cool-gray)/*#555*/
    ;
}

#contacts #social-media-profiles-links-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#contacts #social-media-profiles-links-container a {
    margin: 15px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 80px;
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid var(--cool-gray);
    background-color: var(--cool-gray);
    color: var(--white);
    transition-duration: 0.5s;
}

@media screen and (max-width: 800px) {
    #contacts #social-media-profiles-links-container a {
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 65px;
    }
}

@media screen and (max-width: 600px) {
    #contacts #social-media-profiles-links-container a {
        margin: 10px;
        width: 90px;
        height: 90px;
        line-height: 90px;
        font-size: 55px;
    }
}

@media screen and (max-width: 400px) {
    #contacts #social-media-profiles-links-container a {
        margin: 7px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 48px;
    }
}

#contacts #social-media-profiles-links-container a:hover {
    color: var(--cool-gray);
    background-color: var(--white);
    transition-duration: 0.5s;
}

footer {
    text-align: center;
    width: 100%;
    margin-top: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: var(--cool-gray);
    color: var(--white);
}

footer p {
    font-size: 18px;
    opacity: 1;
}

footer p .fa-heart {
    color: crimson;
}

footer a {
    text-decoration: none;
    color: var(--white);
}

@media screen and (max-width: 1200px) {
    footer p {
        font-size: 15px;
    }
}

@media screen and (max-width: 900px) {
    footer p {
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) {
    footer p {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    footer p {
        font-size: 11px;
    }
}

@media screen and (max-width: 250px) {
    footer p {
        font-size: 9px;
    }
}